<div class="book-details">
    <div class="card"  *ngIf="book">
        <div class="card-body">
            <h2 class="card-title">{{book.title}}</h2>
            <h4 class="card-subtitle mb-2 text-muted">by {{book.author}}</h4>
            <p>
                {{book.description}}
            </p>

            <div *ngIf="isBiographyBook(book)">
                <h3 class="smaller-heading">Biography Book Details</h3>
                <p>Subject: {{ book.subject }}</p>
                <p>Time Period: {{ book.timePeriod }}</p>
            </div>
            <div *ngIf="isCryptoCurrencyBook(book)">
                <h2 class="smaller-heading">CryptoCurrency Book Details</h2>
                <p>Currency Type: {{ book.currencyType }}</p>
                <p>Market Trend: {{ book.marketTrend }}</p>
            </div>
            <div *ngIf="isInvestmentBook(book)">
                <h2 class="smaller-heading">Investment Book Details</h2>
                <p>Investment Type: {{ book.investmentType }}</p>
                <p>Strategy: {{ book.strategy }}</p>
            </div>

            <button (click)="deleteBook(book.id)" class="btn btn-danger">Approve</button>
            <a [routerLink]="['/books']" clas="card-link">Back</a>
        </div>
    </div>
</div>